{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="csrf-token" content="iL8hUXsdXy71MbOZjq4fWUv4KGPZnJ7k17P7RClL">
    <link rel="icon" href="https://thememakker.com/templates/oreo/hospital/laravel/public/favicon.ico" type="image/x-icon"> 
    <!-- Favicon-->
    <link rel="icon" href="{% static 'images/vardhaman.png' %}" type="image/png" />
    <title>Vardhaman Gruh Udhyog</title>
    <meta name="description" content="Oero Laravel">
    <meta name="author" content="Oero Laravel">

    <link rel="stylesheet" href="{% static 'assets\plugins\bootstrap\css\bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets\plugins\jvectormap\jquery-jvectormap-2.0.3.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets\plugins\morrisjs\morris.min.css' %}">
    <!-- Custom Css -->
    <link rel="stylesheet" href="{% static 'assets\css\main.css' %}">
    <link rel="stylesheet" href="{% static 'assets\css\color_skins.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
</head>
<style>
    .imageData {
        height: 5rem;
        width: 6rem;
    }
</style>

<body class="theme-purple">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">

            <div class="m-t-30"><img class="zmdi-hc-spin" src="{% static 'assets\images\logo.svg' %}" width="48"
                    height="48" alt="Civil Hospital"></div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    {% include 'base.html' %} 
    {% include 'left.html' %}
   <section class="content home">
    <div class="block-header">
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <h2>
                    <img class="navbar-brand" src="{% static 'assets\images\Index-Icons\pro.png' %}" width="50" style="border-radius: 100px;"/>
                    Products Data
                    <small class="text-muted">Welcome to Vardhaman Gruh Udhyog</small>
                </h2>
            </div>
            <div class="col-md-6 mb-3 text-right">
                <a  href="{% url 'addProductPage' %}"  class="btn btn-primary" style="background:#243ec6;">Add Product</a>
            </div>
        </div>
    </div>
        <br>
        <div class="body container-fluid">
            <!-- Nav tabs -->
            <!-- Tab panes -->
            <div class="tab-content m-t-10">
                <div class="tab-pane table-responsive active" id="All">
                    <table class="table m-b-0 table-hover" id="productsData" class="display">
                        <thead>
                            <tr align="center">
                                <th>ID</th>
                                <th>Product Name</th>
                                <th>Image</th>
                                <th>QTY</th>
                                <th>Price.</th>
                                <th>HSN code</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        {% for i in products %}
                        <tbody>
                            <tr align="center">
                                <td><span class="list-name">#{{i.id}}</span></td>
                                <td>
                                    <pre>
                                        {{i.product_name_eng}}
                                        {{i.product_name_guj}}
                                        {{i.product_name_hin}}
                                    </pre>
                                </td>
                                <td>
                                    <div class="imageData">
                                        <img src="{{MEDIA_URL}}{{i.product_image.url}}" height='100px'  width="100%">
                                    </div>
                                </td>
                                <td>{{i.product_qty}}</td>
                                <td>{{i.product_price}}</td>
                                <td>{{i.product_hsn_code}}</td>
                                <td>
                                    <a href="{% url 'editProductPage' productId=i.id %}" class="btn btn-success btn-round">
                                        <i class="zmdi zmdi-edit"></i>
                                    </a>
                                    <button href="#" class="btn btn-danger btn-round" onclick="showSweetAlert('{% url 'deleteProductPage' productId=i.id %}')">
                                        <i class="zmdi zmdi-delete"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!-- Scripts -->
    <!-- Include SweetAlert JS -->
    <script>
        function showSweetAlert(editUrl) {
            Swal.fire({
                title: 'Are you sure?',
                text: 'You won\'t be able to revert this!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    // If the user clicks "Yes", proceed with the navigation to the edit page
                    window.location.href = editUrl;
                }
            });
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'assets\bundles\libscripts.bundle.js' %}"></script>
    <script src="{% static 'assets\bundles\vendorscripts.bundle.js' %}"></script>

    <script src="{% static 'assets\bundles\mainscripts.bundle.js' %}"></script>
    <script src="{% static 'assets\bundles\morrisscripts.bundle.js' %}"></script>
    <script src="{% static 'assets\bundles\jvectormap.bundle.js' %}"></script>
    <script src="{% static 'assets\bundles\knob.bundle.js' %}"></script>
    <script src="{% static 'assets\js\pages\index.js' %}"></script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        $( document ).ready(function() {
            new DataTable('#productsData');
        });
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/59f5afbbbb0c3f433d4c5c4c/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</body>
</html>