{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=Edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <meta name="csrf-token" content="iL8hUXsdXy71MbOZjq4fWUv4KGPZnJ7k17P7RClL">
      <link rel="icon" href="https://thememakker.com/templates/oreo/hospital/laravel/public/favicon.ico" type="image/x-icon">
      <!-- Favicon-->
      <link rel="icon" href="{% static 'images/vardhaman.png' %}" type="image/png" />
      <title>Vardhaman Gruh Udhyog</title>
      <meta name="description" content="Oero Laravel">
      <meta name="author" content="Oero Laravel">
      <link rel="stylesheet" href="{% static 'assets\plugins\bootstrap\css\bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets\plugins\jvectormap\jquery-jvectormap-2.0.3.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets\plugins\morrisjs\morris.min.css' %}">
      <!-- Custom Css -->
      <link rel="stylesheet" href="{% static 'assets\css\main.css' %}">
      <link rel="stylesheet" href="{% static 'assets\css\color_skins.css' %}">
      <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
   </head>
   <body class="theme-purple">
      <!-- Page Loader -->
      <div class="page-loader-wrapper">
         <div class="loader">
            <div class="m-t-30"><img class="zmdi-hc-spin" src="{% static 'assets\images\logo.svg' %}" width="48"
               height="48" alt="Civil Hospital"></div>
            <p>Please wait...</p>
         </div>
      </div>
      <!-- Overlay For Sidebars -->
      <div class="overlay"></div>
      {% include 'base.html' %} 
      {% include 'left.html' %}
      <section class="content home">
         <div class="block-header">
            <div class="form-row">
               <div class="col-md-6 mb-3">
               </div>
               <div class="col-md-6 mb-3 text-right">
                  <button class="btn btn-primary" onclick="printDiv('printableArea')" style="background:#243ec6;">Print</button>
               </div>
            </div>
         </div>
         <br>
         <div class="body container-fluid" id="printableArea">
            <div class="tab-content m-t-10" >
               <html>
                  <head>
                  </head>
                  <style type="text/css" media="print">
                     @page 
                        {
                           size:  100%;   /* auto is the initial value */
                           margin: 0mm;  /* this affects the margin in the printer settings */
                        }
                  </style>
                  <body>
                     <div style="margin:2rem">
                     <table style="font-size: 12px;font-family: monospace;"
                        width="100%" border="1" cellpadding="1" cellspacing="0" align="center"
                        >
                        <tbody>
                           <tr>
                              <td style='width:80%' rowspan='3'>
                                 <div style="margin: 1px;
                                    text-align: left;
                                    font-size: 13px;"
                                    >
                                    <p style="margin:1px; font-size:15px">
                                       <b> VARDHAMAN GRUH UDHYOG</b>
                                    </p>
                                    <p style="white-space: pre-line;margin:1px">BL NO 101 FLAT NO -1204,LAXMI KRUPA APPT,
                                       SOLA ROAD,NARANPURA,
                                       AHMEDABAD
                                    </p>
                                    <p style="margin:1px"><b>GSTIN/UIN:</b> 24ALOPJ8037B1Z8</p>
                                 </div>
                              </td>
                              <td style="width:10%">
                                 Invoice No.
                                 <p style="margin:1px">{{order.id}}</p>
                              </td>
                              <td style="width:10%">
                                 Date
                                 <p style="margin:1px"> {{order.created_at |  date:"d/m/Y"}}</p>
                              </td>
                           </tr>
                           <tr>
                              <td style="width:10%">
                                 <p style="margin:1px; white-space: nowrap;">Delivery Note</p>
                                 <p></p>
                              </td>
                              <td style="width:10%">
                                 <p style="margin:1px; white-space: nowrap; font-size:10px;">Mode/Terms of payment</p>
                                 <p></p>
                              </td>
                           </tr>
                           <tr>
                              <td style="width:10%">
                                 <p style="margin:1px; white-space: nowrap; font-size:10px;">Ref No. & Date</p>
                                 <p></p>
                              </td>
                              <td style="width:10%">
                                 <p style="margin:1px; white-space: nowrap; font-size:10px;">Other Reference</p>
                                 <p></p>
                              </td>
                           </tr>
                           <tr>
                              <td style='width:80%' rowspan='4'>
                                 <div style="margin: 1px;
                                    text-align: left;
                                    font-size: 13px;"
                                    >
                                    <p style="margin:1px; font-size:13px">
                                       Buyer (Bill to)
                                    </p>
                                    <p style="margin:1px; font-size:15px">
                                       <b> {{order.customer_id.name}}</b>
                                    </p>
                                    <p style="white-space: pre-line;margin:1px">{{order.customer_id.address}}</p>
                                    <p style="margin:1px"><b>MO</b> {{order.customer_id.contact_no}}</p>
                                    <p style="margin:1px"><b>GSTIN/UIN:</b> {{order.customer_id.gst_no}}</p>
                                 </div>
                              </td>
                              <td style="width:10%">
                                 <p style="margin:1px; white-space: nowrap; font-size:10px;">Buyer's Order No.</p>
                                 <p></p>
                              </td>
                              <td style="width:10%">
                                 <p style="margin:1px; white-space: nowrap; font-size:10px;">Date</p>
                                 <p></p>
                              </td>
                           </tr>
                           <tr>
                              <td style="width:10%">
                                 <p style="margin:1px; white-space: nowrap; font-size:10px;">Dispatched through</p>
                                 <p></p>
                              </td>
                              <td style="width:10%">
                                 <p style="margin:1px; white-space: nowrap; font-size:10px;">Destination</p>
                                 <p></p>
                              </td>
                           </tr>
                           <tr>
                              <td style="width:20%; border-bottom:none;" colspan='2'>
                                 <p style="margin:1px; white-space: nowrap; font-size:10px;">Terms of Delivery</p>
                              </td>
                           </tr>
                           <tr>
                              <td style="width:20%; border-top:none;" colspan='2'></td>
                           </tr>
                        </tbody>
                     </table>
                     <table style="font-size: 12px;font-family: monospace;"
                        width="100%" border="1" cellpadding="1" cellspacing="0" align="center"
                     >
                        <thead>
                           <tr>
                              <th style="width:2%; text-align:center">S No.</th>
                              <th style="width:47%; text-align:center">Description of Goods.</th>
                              <th style="width:8%; text-align:center">HSN/SAC</th>
                              <th style="width:5%; text-align:center">Qunatity</th>
                              <th style="width:10%; text-align:center">Rate<br><p style="margin:1px; white-space: nowrap; font-size:10px;">(Incl. of Tax)</p></th>
                              <th style="width:10%; text-align:center">Rate</th>
                              <th style="width:3%; text-align:center">per</th>
                              <th style="width:15%; text-align:center">Amonut</th>
                           </tr>
                        </thead>
                        <tbody>
                           {% for pr in orderList %}
                              <tr>
                                 <td style="border-top:none;border-bottom:none; width:2%">{{forloop.counter}}. </td>
                                 <td style="border-top:none;border-bottom:none; width:47%"><b>{{pr.product_id.product_name_eng}}</b> [{{pr.product_id.product_qty}}]</td>
                                 <td style="border-top:none;border-bottom:none; width:8%">{{pr.product_id.product_hsn_code}}</td>
                                 <td style="border-top:none;border-bottom:none; width:5%; text-align:center">{{pr.qty}}</td>
                                 <td style="border-top:none;border-bottom:none; width:10%; text-align:right">{{pr.product_id.product_price}}</td>
                                 <td style="border-top:none;border-bottom:none; width:10%; text-align:right">{{pr.product_id.product_price}}</td>
                                 <td style="border-top:none;border-bottom:none; width:3%">{% if pr.product_id.product_unit %}{{pr.product_id.product_unit}}{% endif %}</td>
                                 <td style="border-top:none;border-bottom:none; width:15%; text-align:right">{{pr.amount}}</td>
                              </tr>
                              {% endfor %}
                              <tr>
                                 <td style="border-top:none;border-bottom:none; width:2%">&nbsp;</td>
                                 <td style="border-top:none;border-bottom:none; width:47%">&nbsp;</td>
                                 <td style="border-top:none;border-bottom:none; width:8%">&nbsp;</td>
                                 <td style="border-top:none;border-bottom:none; width:5%; text-align:center">&nbsp;</td>
                                 <td style="border-top:none;border-bottom:none; width:10%; text-align:right">&nbsp;</td>
                                 <td style="border-top:none;border-bottom:none; width:10%; text-align:right">&nbsp;</td>
                                 <td style="border-top:none;border-bottom:none; width:3%">&nbsp;</td>
                                 <td style="border-top:none;border-bottom:none; width:15%; text-align:right">&nbsp;</td>
                              </tr>
                              <tr>
                                 <td style="border-top:none;border-bottom:none; width:2%">&nbsp;</td>
                                 <td style="border-top:none;border-bottom:none; width:47%">&nbsp;</td>
                                 <td style="border-top:none;border-bottom:none; width:8%">&nbsp;</td>
                                 <td style="border-top:none;border-bottom:none; width:5%; text-align:center">&nbsp;</td>
                                 <td style="border-top:none;border-bottom:none; width:10%; text-align:right">&nbsp;</td>
                                 <td style="border-top:none;border-bottom:none; width:10%; text-align:right">&nbsp;</td>
                                 <td style="border-top:none;border-bottom:none; width:3%">&nbsp;</td>
                                 <td style="border-bottom:none; width:15%; text-align:right">{{order.amount}}</td>
                              </tr>
                              <tr>
                                 <td style="border-top:none;border-bottom:none; width:2%"></td>
                                 <td style="border-top:none;border-bottom:none; width:47%; text-align:right; font-style:italic; font-weight:bold;">SGST</td>
                                 <td style="border-top:none;border-bottom:none; width:8%"></td>
                                 <td style="border-top:none;border-bottom:none; width:5%; text-align:center"></td>
                                 <td style="border-top:none;border-bottom:none; width:10%; text-align:right"></td>
                                 <td style="border-top:none;border-bottom:none; width:10%; text-align:right"></td>
                                 <td style="border-top:none;border-bottom:none; width:3%"></td>
                                 <td style="border-top:none;border-bottom:none; width:15%; text-align:right">{{order.sgst_amount}}</td>
                              </tr>
                              <tr>
                                 <td style="border-top:none;border-bottom:none; width:2%"></td>
                                 <td style="border-top:none;border-bottom:none; width:47%; text-align:right; font-style:italic; font-weight:bold;">CGST</td>
                                 <td style="border-top:none;border-bottom:none; width:8%"></td>
                                 <td style="border-top:none;border-bottom:none; width:5%; text-align:center"></td>
                                 <td style="border-top:none;border-bottom:none; width:10%; text-align:right"></td>
                                 <td style="border-top:none;border-bottom:none; width:10%; text-align:right"></td>
                                 <td style="border-top:none;border-bottom:none; width:3%"></td>
                                 <td style="border-top:none;border-bottom:none; width:15%; text-align:right">{{order.cgst_amount}}</td>
                              </tr>
                              <tr>
                                 <td style="border-top:none;border-bottom:none; width:2%">&nbsp;</td>
                                 <td style="border-top:none;border-bottom:none; width:47%">&nbsp;</td>
                                 <td style="border-top:none;border-bottom:none; width:8%">&nbsp;</td>
                                 <td style="border-top:none;border-bottom:none; width:5%; text-align:center">&nbsp;</td>
                                 <td style="border-top:none;border-bottom:none; width:10%; text-align:right">&nbsp;</td>
                                 <td style="border-top:none;border-bottom:none; width:10%; text-align:right">&nbsp;</td>
                                 <td style="border-top:none;border-bottom:none; width:3%">&nbsp;</td>
                                 <td style="border-top:none;border-bottom:none; width:15%; text-align:right">&nbsp;</td>
                              </tr>
                              <tr>
                                 <td style="border-top:none;border-bottom:none; width:2%">&nbsp;</td>
                                 <td style="border-top:none;border-bottom:none; width:47%">&nbsp;</td>
                                 <td style="border-top:none;border-bottom:none; width:8%">&nbsp;</td>
                                 <td style="border-top:none;border-bottom:none; width:5%; text-align:center">&nbsp;</td>
                                 <td style="border-top:none;border-bottom:none; width:10%; text-align:right">&nbsp;</td>
                                 <td style="border-top:none;border-bottom:none; width:10%; text-align:right">&nbsp;</td>
                                 <td style="border-top:none;border-bottom:none; width:3%">&nbsp;</td>
                                 <td style="border-top:none;border-bottom:none; width:15%; text-align:right">&nbsp;</td>
                              </tr>
                        </tbody>
                        <tfoot>
                           <tr style="text-align:right">
                              <th style="width:2%"></th>
                              <th style="width:47%;">Total</th>
                              <th style="width:8%"></th>
                              <th style="width:5%"></th>
                              <th style="width:10%"></th>
                              <th style="width:10%"></th>
                              <th style="width:3%"></th>
                              <th style="width:15%">₹ &nbsp;&nbsp;&nbsp;{{order.total_amount}}</th>
                           </tr>
                           <tr style="text-align:left">
                              <td colspan='8'>
                                 <p style="margin:1px; white-space: nowrap; font-size:12px;">Amonut Chargeable (in words)</p>
                                 <p style="margin:1px; white-space: nowrap; font-size:12px; font-weight:bold;">INR {{totalAmountWords | title}}</p>
                              </td>
                           </tr>
                           <tr style="text-align:left">
                              <td colspan='4'>
                                 <div style="margin: 1px;
                                    text-align: left;
                                    font-size: 13px;"
                                    >
                                    <p style="margin:1px; font-size:15px">
                                       <u>Declaration</u>
                                    </p>
                                    <p style="margin:1px">We declare that this invoice shows the</p>
                                    <p style="margin:1px">actual price of the goods described and that</p>
                                    <p style="margin:1px">all particulars are true and correct.</p>
                                 </div>
                              </td>
                              <td colspan='4'>
                                 <div style="margin:1px;text-align:center;">
                                    <p style="margin:1px; font-size:15px"><b>VARDHAMAN GRUH UDHYOG</b></p>
                                    <p style="margin:1px"><b>SOLA ROAD, AHMEDABAD</b></p>
                                    <p style="margin:1px">9913370031</p>
                                 </div>
                              </td>
                           </tr>
                        </tfoot>
                     </table>
                     <div>
                  </body>
               </html>
            </div>
         </div>
      </section>
      <script>
         function showSweetAlert(editUrl) {
             Swal.fire({
                 title: 'Are you sure?',
                 text: 'You won\'t be able to revert this!',
                 icon: 'warning',
                 showCancelButton: true,
                 confirmButtonColor: '#3085d6',
                 cancelButtonColor: '#d33',
                 confirmButtonText: 'Yes, delete it!'
             }).then((result) => {
                 if (result.isConfirmed) {
                     // If the user clicks "Yes", proceed with the navigation to the edit page
                     window.location.href = editUrl;
                 }
             });
         }
      </script>
      <script>
         function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
         
            document.body.innerHTML = printContents;
         
            window.print();
         
            document.body.innerHTML = originalContents;
         }
      </script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
      <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
      <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
      <script src="{% static 'assets\bundles\libscripts.bundle.js' %}"></script>
      <script src="{% static 'assets\bundles\vendorscripts.bundle.js' %}"></script>
      <script src="{% static 'assets\bundles\mainscripts.bundle.js' %}"></script>
      <script src="{% static 'assets\bundles\morrisscripts.bundle.js' %}"></script>
      <script src="{% static 'assets\bundles\jvectormap.bundle.js' %}"></script>
      <script src="{% static 'assets\bundles\knob.bundle.js' %}"></script>
      <script src="{% static 'assets\js\pages\index.js' %}"></script>
   </body>
</html>