{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{% static 'assets\css\invoicetable.css' %}">
      <title>Table Example</title>
   </head>
   <body>
      <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#e1e1e1">
         <tr>
            <td height="20"></td>
         </tr>
         <tr>
            <td>
               <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#ffffff" style="border-radius: 10px 10px 0 0;">
                  <tr class="hiddenMobile">
                     <td height="40"></td>
                  </tr>
                  <tr class="visibleMobile">
                     <td height="30"></td>
                  </tr>
                  <tr>
                     <td>
                        <table width="480" border="0" cellpadding="0" cellspacing="0" align="center" class="fullPadding">
                           <tbody>
                              <tr>
                                 <td>
                                    <table width="220" border="0" cellpadding="0" cellspacing="0" align="right" class="col">
                                       <tbody>
                                          <tr class="visibleMobile">
                                             <td height="20"></td>
                                          </tr>
                                          <tr>
                                             <td height="5"></td>
                                          </tr>
                                          <tr>
                                             <td style="font-size: 21px; color: #ff0000; letter-spacing: -1px; font-family: 'Open Sans', sans-serif; line-height: 1; vertical-align: top; text-align: right;">
                                                Invoice
                                             </td>
                                          </tr>
                                          <tr>
                                          <tr class="hiddenMobile">
                                             <td height="50"></td>
                                          </tr>
                                          <tr class="visibleMobile">
                                             <td height="20"></td>
                                          </tr>
                                          <tr>
                                             <td style="font-size: 12px; color: #5b5b5b; font-family: 'Open Sans', sans-serif; line-height: 18px; vertical-align: top; text-align: right;">
                                                <small>ORDER</small> #{{order.id}}<br />
                                                <small>{{order.created_at|date:"d-m-Y"}}</small>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
      <!-- /Header -->
      <!-- Order Details -->
      <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#e1e1e1">
         <tbody>
            <tr>
               <td>
                  <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#ffffff">
                     <tbody>
                        <tr>
                        <tr class="hiddenMobile">
                           <td height="60"></td>
                        </tr>
                        <tr class="visibleMobile">
                           <td height="40"></td>
                        </tr>
                        <tr>
                           <td>
                              <table width="480" border="0" cellpadding="0" cellspacing="0" align="center" class="fullPadding">
                                 <tbody>
                                    <tr>
                                       <th style="font-size: 12px; font-family: 'Open Sans', sans-serif; color: #5b5b5b; font-weight: normal; line-height: 1; vertical-align: top; padding: 0 10px 7px 0;" width="52%" align="left">
                                          Product Name
                                       </th>
                                       <th style="font-size: 12px; font-family: 'Open Sans', sans-serif; color: #5b5b5b; font-weight: normal; line-height: 1; vertical-align: top; padding: 0 0 7px;" align="left">
                                          <small>HSN</small>
                                       </th>
                                       <th style="font-size: 12px; font-family: 'Open Sans', sans-serif; color: #5b5b5b; font-weight: normal; line-height: 1; vertical-align: top; padding: 0 0 7px;" align="center">
                                          Price
                                       </th>
                                       <th style="font-size: 12px; font-family: 'Open Sans', sans-serif; color: #5b5b5b; font-weight: normal; line-height: 1; vertical-align: top; padding: 0 0 7px;" align="center">
                                          Quantity
                                       </th>
                                       <th style="font-size: 12px; font-family: 'Open Sans', sans-serif; color: #1e2b33; font-weight: normal; line-height: 1; vertical-align: top; padding: 0 0 7px;" align="right">
                                          Subtotal
                                       </th>
                                    </tr>
                                    <tr>
                                       <td height="5" style="background: #bebebe;" colspan="5"></td>
                                    </tr>
                                    {% for ord in orderList%}
                                    <tr>
                                       <td style="font-size: 12px; font-family: 'Open Sans', sans-serif; color: #ff0000;  line-height: 18px;  vertical-align: top; padding:10px 0;" class="article">
                                          {{ord.product_id.product_name_eng}} ({{ord.product_id.product_qty}})
                                       </td>
                                       <td style="font-size: 12px; font-family: 'Open Sans', sans-serif; color: #646a6e;  line-height: 18px;  vertical-align: top; padding:10px 0;"><small>{{ord.product_id.product_hsn_code}}</small></td>
                                       <td style="font-size: 12px; font-family: 'Open Sans', sans-serif; color: #646a6e;  line-height: 18px;  vertical-align: top; padding:10px 0;" align="center">{{ord.product_id.product_price}}</td>
                                       <td style="font-size: 12px; font-family: 'Open Sans', sans-serif; color: #1e2b33;  line-height: 18px;  vertical-align: top; padding:10px 0;" align="right">{{ord.qty}}</td>
                                       <td style="font-size: 12px; font-family: 'Open Sans', sans-serif; color: #1e2b33;  line-height: 18px;  vertical-align: top; padding:10px 0;" align="right">₹ {{ord.amount}}</td>
                                    </tr>
                                    <tr>
                                       <td height="1" colspan="5" style="border-bottom:1px solid #e4e4e4"></td>
                                    </tr>
                                    {% endfor %}
                                 </tbody>
                              </table>
                           </td>
                        </tr>
                        <tr>
                           <td height="20"></td>
                        </tr>
                     </tbody>
                  </table>
               </td>
            </tr>
         </tbody>
      </table>
      <!-- /Order Details -->
      <!-- Total -->
      <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#e1e1e1">
         <tbody>
            <tr>
               <td>
                  <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#ffffff">
                     <tbody>
                        <tr>
                           <td>
                              <!-- Table Total -->
                              <table width="480" border="0" cellpadding="0" cellspacing="0" align="center" class="fullPadding">
                                 <tbody>
                                    <tr>
                                       <td style="font-size: 12px; font-family: 'Open Sans', sans-serif; color: #646a6e; line-height: 22px; vertical-align: top; text-align:right; ">
                                          Subtotal
                                       </td>
                                       <td style="font-size: 12px; font-family: 'Open Sans', sans-serif; color: #646a6e; line-height: 22px; vertical-align: top; text-align:right; white-space:nowrap;" width="80">
                                          ₹ {{order.total_amount}}
                                       </td>
                                    </tr>
                                    <tr>
                                       <td style="font-size: 12px; font-family: 'Open Sans', sans-serif; color: #000; line-height: 22px; vertical-align: top; text-align:right; ">
                                          <strong>Grand Total (Incl.Tax)</strong>
                                       </td>
                                       <td style="font-size: 12px; font-family: 'Open Sans', sans-serif; color: #000; line-height: 22px; vertical-align: top; text-align:right; ">
                                          <strong>₹ {{order.total_amount}}</strong>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td style="font-size: 12px; font-family: 'Open Sans', sans-serif; color: #b0b0b0; line-height: 22px; vertical-align: top; text-align:right; "><small>TAX</small></td>
                                       <td style="font-size: 12px; font-family: 'Open Sans', sans-serif; color: #b0b0b0; line-height: 22px; vertical-align: top; text-align:right; ">
                                          <small>₹72.40</small>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                              <!-- /Table Total -->
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </td>
            </tr>
         </tbody>
      </table>
      <!-- /Total -->
      <!-- Information -->
      <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#e1e1e1">
         <tbody>
            <tr>
               <td>
                  <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#ffffff">
                     <tbody>
                        <tr>
                        <tr class="hiddenMobile">
                           <td height="60"></td>
                        </tr>
                        <tr class="visibleMobile">
                           <td height="40"></td>
                        </tr>
                        <tr class="hiddenMobile">
                           <td height="60"></td>
                        </tr>
                        <tr class="visibleMobile">
                           <td height="30"></td>
                        </tr>
                     </tbody>
                  </table>
               </td>
            </tr>
         </tbody>
      </table>
   </body>
</html>