{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="csrf-token" content="iL8hUXsdXy71MbOZjq4fWUv4KGPZnJ7k17P7RClL">
    <link rel="icon" href="https://thememakker.com/templates/oreo/hospital/laravel/public/favicon.ico" type="image/x-icon"> 
    <!-- Favicon-->
    <link rel="icon" href="{% static 'images/vardhaman.png' %}" type="image/png" />
    <title>Vardhaman Gruh Udhyog</title>
    <meta name="description" content="Oero Laravel">
    <meta name="author" content="Oero Laravel">

    <link rel="stylesheet" href="{% static 'assets\plugins\bootstrap\css\bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets\plugins\jvectormap\jquery-jvectormap-2.0.3.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets\plugins\morrisjs\morris.min.css' %}">
    <!-- Custom Css -->
    <link rel="stylesheet" href="{% static 'assets\css\main.css' %}">
    <link rel="stylesheet" href="{% static 'assets\css\color_skins.css' %}">
</head>
<style>
    .imageData {
        height: 5rem;
        width: 6rem;
    }
</style>

<body class="theme-purple">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">

            <div class="m-t-30"><img class="zmdi-hc-spin" src="{% static 'assets\images\logo.svg' %}" width="48"
                    height="48" alt="Civil Hospital"></div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    {% include 'base.html' %} 
    {% include 'left.html' %}
   <section class="content home">
        <div class="block-header">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <h2><img class="navbar-brand" src="{% static 'assets\images\Index-Icons\pro.png' %}" width="50" style="border-radius: 100px;"/>Products {% if productData.id %}Edit{% else%}Add{% endif %} Data<small class="text-muted">Welcome to Vardhaman Gruh Udhyog</small></h2>
            </div>
        </div>
        <br>
        <div class="body container-fluid">
            <!-- Nav tabs -->
            <!-- Tab panes -->
            <div class="tab-content m-t-10">
                <div class="tab-pane table-responsive active" id="All">
                    <div class="container">
                        <div class="form-container">
                            <form id="productForm" autocomplete='off' class="needs-validation" novalidate enctype="multipart/form-data" action="{% url 'productAddUpdateFunctionality' %}" method="POST"> {% csrf_token %}
                                <input type="hidden" class="form-control" id="productid" name="productid" value='{{productData.id}}' required>
                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                        <label for="productName">Product Name (English):</label>
                                        <input type="text" class="form-control" id="productNameEng" Placeholder='Please Enter Product Name In English' name="productNameEng" value='{{productData.product_name_eng}}' required>
                                        <div class="invalid-feedback">
                                            Please enter a product name in English.
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="productDescription">Product Name (Gujrati):</label>
                                        <input type="text" class="form-control" id="productNameGuj" Placeholder='Please Enter Product Name In Gujrati' name="productNameGuj" value='{{productData.product_name_guj}}' required>
                                        <div class="invalid-feedback">
                                            Please enter a product name in Gujrati.
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="productDescription">Product Name (Hindi):</label>
                                        <input type="text" class="form-control" id="productNameHin" Placeholder='Please Enter Product Name In Hindi' name="productNameHin" value='{{productData.product_name_hin}}' required>
                                        <div class="invalid-feedback">
                                            Please enter a product name in Hindi.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                        <label for="productQty">Unit Type:</label>
                                        <input type="text" class="form-control" id="productUnit" name="productUnit" value='{% if productData.product_unit %}{{productData.product_unit}}{% endif %}' required>
                                        <div class="invalid-feedback">
                                            Please enter a valid unit.
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="productQty">Quantity Type:</label>
                                        <input type="text" class="form-control" id="productQty" name="productQty" value='{{productData.product_qty}}' required>
                                        <div class="invalid-feedback">
                                            Please enter a valid quantity.
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="productHSN">HSN Code:</label>
                                        <input type="text" class="form-control" id="productHSN" name="productHSN" value='{{productData.product_hsn_code}}' required>
                                        <div class="invalid-feedback">
                                            Please enter a valid HSN code.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-2 mb-3">
                                        <label for="productPrice">Product GST:</label>
                                        <input type="text" class="form-control integerInput" oninput="validateNumeric(this)" id="productGST" maxlength='2' name="productGST" value='{{productData.product_gst_rate}}' required>
                                        <div class="invalid-feedback">
                                            Please enter a valid product GST.
                                        </div>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label for="productPrice">Product Discount:</label>
                                        <input type="text" class="form-control integerInput" oninput="validateNumeric(this)" id="productDiscount" maxlength='2' name="productDiscount" value='{% if productData.product_discount_rate %}{{productData.product_discount_rate}}{% else %}0{% endif %}' required>
                                        <div class="invalid-feedback">
                                            Please enter a valid product Discount.
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="productPrice">Product Price:</label>
                                        <input type="text" class="form-control integerInput" oninput="validateNumeric(this)" id="productPrice" name="productPrice" value='{{productData.product_price}}' required>
                                        <div class="invalid-feedback">
                                            Please enter a valid product price.
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="productPrice">Product Price (Incl Tax):</label>
                                        <input type="text" class="form-control" id="productTaxPrice" name="productTaxPrice" value='{{productData.product_tax_price}}' readonly>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 mb-6">
                                        <label for="productImage">Product Image:</label>
                                        <input type="file" class="form-control" id="productImage" name="productImage" accept="image/*" {% if not productData.id %} required {% endif %}>
                                    </div>
                                </div>
                                <div style="margin: 1rem;"></div>
                                <div class="form-row">
                                    <div class="col-md-12 text-right">
                                        <a href="{% url 'productPage' %}" class="btn btn-danger">Cancel</a>
                                        <button type="submit" class="btn btn-success mr-2">{% if productData.id %}Update{% else%}Submit{% endif %}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Scripts -->
    <script src="{% static 'assets\bundles\libscripts.bundle.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'assets\bundles\vendorscripts.bundle.js' %}"></script>
    <script>
        // return the integer value
        function validateNumeric(input) {
            // Remove non-numeric characters and allow for decimal points
            input.value = input.value.replace(/[^0-9.]/g, '');
        
            // Remove extra decimal points
            input.value = input.value.replace(/\.{2,}/g, '.');
        
            // Remove leading decimal point
            input.value = input.value.replace(/^\./g, '');
        
            // Remove non-leading minus signs
            input.value = input.value.replace(/-+/g, m => (m.length > 1 ? '' : m));
        
            // Remove leading zeros, except for the case where it's the only character
            input.value = input.value.replace(/^0+(?=[^.])/, '');
        }

        jQuery(document).ready(function(){
            // Count the GST price
            jQuery('.integerInput').on('input', function() {
                const gstRate = jQuery('#productGST').val();
                const discountRate = jQuery('#productDiscount').val();
                const originalPrice = jQuery('#productPrice').val();
                const gstAmount = ((parseFloat(originalPrice) * parseInt(gstRate)) / 100);
                const disAmount = ((parseFloat(originalPrice) * parseInt(discountRate)) / 100);
                const newAmount = (parseFloat(originalPrice) - parseFloat(disAmount)) + parseFloat(gstAmount);
                jQuery("#productTaxPrice").val(newAmount ? newAmount : 0);
            });
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var form = document.getElementById('productForm');
    
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                }
    
                form.classList.add('was-validated');
            });
        });
    </script>
    <script src="{% static 'assets\bundles\mainscripts.bundle.js' %}"></script>
    <script src="{% static 'assets\bundles\morrisscripts.bundle.js' %}"></script>
    <script src="{% static 'assets\bundles\jvectormap.bundle.js' %}"></script>
    <script src="{% static 'assets\bundles\knob.bundle.js' %}"></script>
    <script src="{% static 'assets\js\pages\index.js' %}"></script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/59f5afbbbb0c3f433d4c5c4c/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</body>
</html>